<!DOCTYPE html>
<html lang="de">

<head>
    <title>Doody</title>
    <link rel="stylesheet" type="text/css" href="search.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <img src="logo.png" alt="Doody Suche" title="Doody Suche" id="logo" />
    <form action="#" method="get" id="searchbar">
        <input type="text" name="q" value="" placeholder="In Doody suchen" />
        <input type="image" src="search-2.png" border="0" alt="Suchen" title="Suchen" id="search" />
    </form>
</body>

</html>